* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #73a6da;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background: #1e293b;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a,
.actions a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover,
.actions a:hover {
    color: #60a5fa;
    text-decoration: underline;
}

.actions {
    display: flex;
    gap: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    padding: 40px;
}

.card {
    flex: 0 0 calc(25% - 20px);

    background: white;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    margin-bottom: 20px;
    color: #2563eb;
    font-weight: bold;
}

.card button {
    margin-top: auto;

    padding: 10px;
    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    cursor: pointer;
}